* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
/* html {
    width: 100%;
} */
body {
    width: 100%;
    font-family: メイリオ, Meiryo, arial, "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
        sans-serif;
    line-height: 2;
    font-size: 15px;
}
.padding {
    padding: 0 17%;
    /* padding: 0 240px; */
}
.inner {
    /* width: 960px; */
    width: 67%;
    margin: 0 auto;
    /* margin: 0 auto 50px auto; */
    margin-bottom: 50px;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
tr {
    align-items: center;
}
th,
td {
    font-size: 14px;
    line-height: 2;
}
.sec_title {
    font-size: 25px;
    line-height: 2.5;
}
.entry-title {
    background-image: url(/pics/entry_title_bg.png);
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
li {
    list-style: none;
}
small {
    padding: 10px;
    font-size: 13px;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
    align-items: center;
    width: 0 auto;
}
.side {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.subtitle {
    background-image: url(/pics/sub_entry_title_bg.jpg);
    background-repeat: no-repeat;
    padding-left: 20px;
    margin: 40px 0;
}
.whiter:hover {
    opacity: 0.8;
}
.underline:hover {
    text-decoration: underline;
}
.btn {
    display: block;
    width: 100%;
}
.btn:hover {
    color: white;
}
.red {
    color: red;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      画像３分割
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.frame_title {
    border: 2px solid #0080c8;
    padding: 3px;
    font-weight: normal;
    margin-bottom: 30px;
}
.pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trisection {
    width: 31%;
    display: block;
    margin-right: calc(100% - (33.3% * 3));
}
.trisection img {
    width: 100%;
    margin-bottom: 60px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      2分割
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.half {
    width: 47%;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      table
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
table {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 100px;
}
tr {
    border: 1px solid black;
    font-size: 14px;
    align-items: center;
}
th {
    border: 1px solid black;
    background-color: #66d2fe;
    font-weight: normal;
    text-align: left;
    padding: 15px 20px 0px 15px;
}
td {
    padding: 0 0 15px 15px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    margin-bottom: 20px;
}
header small {
    background-color: white;
    position: relative;
    z-index: 5;
    font-size: 10px;
    padding: 0 50px 0 0;
    display: flex;
    justify-content: right;
}

/* header common */
header ul {
    padding-right: 3.5%;
    display: flex;
    justify-content: right;
}
header ul li {
    text-align: center;
}
header ul li:last-child {
    vertical-align: middle;
    line-height: 1.5;
}
/* .header-list-hover {
    display: none;
}
.header-list-hover:hover {
    display: inline;
}
.header-list-normal:hover {
    display: none;
} */

/* normal */
.header-normal {
    background-color: white;
    position: absolute;
    z-index: 6;
    top: 20px;
    left: 0;

    height: 100px;
    width: 100%;
    text-align: center;
}
.header-normal li {
    padding-left: 50px;
    padding-top: 30px;
}

/* swiped */
.header-swiped {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #60bee6;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.8;
    vertical-align: middle;
}
.header-swiped li {
    margin-right: 125px;
    /* padding: 20px 0; */
    /* vertical-align: middle; */
}
.header-swiped li:last-child {
    margin-right: 0;
    line-height: 1.2;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    mainvisual
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.mainvisual {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 550px; */
    margin-top: 20px;
    position: absolute;
    top: 30%;
}
.logo {
    position: absolute;
    top: 0%;
    left: 3.5%;
    z-index: 7;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    banners
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.banners {
    background-image: url(/pics/banner_bg.jpg);
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    margin-bottom: 0%;
}
.banners a {
    width: 47%;
    padding: 100px 0;
}
.banners img {
    width: 100%;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    contact
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.contact {
    background-color: #66d2fd;
    margin-bottom: -50px;
    width: 100%;
}
.contact img {
    width: 100%;
}
/* .inner {
    margin: 0 auto;
} */
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    footer
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
footer {
    background-image: url(/pics/footer_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
.footer-logo {
    /* padding-bottom: 15px; */
    padding-left: 14%;
}
.normal-footer {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    justify-content: right;
    /* padding-top: 5px; */
    margin-bottom: 11px;
    padding-right: 50px;
    padding-right: 19%;
}
.normal-footer a {
    padding-left: 10px;
    border-left: 1px solid black;
    margin-right: 10px;
}
.normal-footer a:first-child {
    border-left: none;
}

.normal-footer small {
    line-height: 40px;
    font-size: 10px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * レスポンシブ * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * レスポンシブ * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * レスポンシブ * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.responsive {
    display: none;
}
@media (max-width: 1024px) {
    .responsive {
        display: block;
    }
    .pc {
        display: none;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
        ベース
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
    */
    html,
    body {
        width: 100%;
    }
    .padding {
        padding: 0 2%;
    }
    .inner {
        width: 100%;
        padding: 0 1%;
        /* padding: 0; */
    }
    .inner-narrower {
        padding: 0 2%;
        /* padding: 0 4%; */
    }
    .inner-cramped {
        padding: 0 4%;
    }
    p {
        line-height: 1.5;
        font-size: 14px;
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        titles
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .entry-title {
        background-color: #65d1fd;
        background-image: url(/pics/responsive/entry_title_bg.png);
        color: white;
        padding: 0;
        margin: 10px 0;
        width: 100%;
        /* height: 3%; */
        /* height: 100px; */
    }
    .entry-title:first-child {
        margin-top: -10px;
    }
    .entry-title h1 {
        font-size: 18px;
        line-height: 3;
    }
    .frame_title,
    .subtitle {
        background-color: #0080c8;
        background-image: none;
        color: white;
        text-align: center;
        line-height: 1;
        border-radius: 5px;
        padding-left: 0;
    }
    .subtitle .sec_title {
        font-size: 15px;
    }
    .responsive-btn {
        width: 100%;
        background-color: #0080c8;
        border: none;
        color: white;
        text-decoration: underline;
        border-radius: 5px;
        font-weight: bold;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        画像右テキスト左、画像左テキスト右、みたいなのを矯正する用。
        レスポンシブでテキストが上になるものにのみ指定
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .reverse img {
        margin-bottom: 10px;
    }
    .side:not(.banners) {
        width: 100%;
        /* display: block; */
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        画像３分割
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .frame_title {
        border: 2px solid #0080c8;
        padding: 3px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .pics {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .trisection {
        width: 100%;
        display: block;
    }
    .trisection img {
        /* width: 100%; */
        margin-bottom: 10px;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        table
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    table {
        margin-bottom: 20px;
        width: 100%;
    }
    th,
    td {
        line-height: 1.3;
        padding: 10px;
        /* font-size: 12px; */
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
        header
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
    */
    header {
        height: auto;
        margin-bottom: 0;
        width: 100%;
    }
    .header-normal,
    .header-swiped {
        display: none;
    }
    header a small {
        display: none;
    }
    header ul {
        padding-right: 0;
    }

    .responsive-nav {
        width: 100%;
        height: 45px;
        /* padding: 10px inherit; */
        background-color: #075c9e;
        color: white;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        line-height: 10px;
    }

    .responsive-nav ul {
        padding-top: 10px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .responsive-nav-items {
        align-items: center;
        display: flex;
        width: 100%;
        height: 45px;
    }

    .responsive-nav-left li:nth-child(2) {
        margin-left: 10%;
    }

    .responsive-nav-right {
        justify-content: right;
    }
    .responsive-nav-right li:nth-child(1) {
        margin-right: 10%;
    }

    .responsive-logo {
        display: flex;
        text-align: center;
        position: unset;
        background: white;
        height: auto;
        margin-top: 45px;
        padding: 2% 0;
        justify-content: center;
    }

    .responsive-logo img {
        width: 9%;
        margin-right: 5px;
    }
    .responsive-logo h1 {
        letter-spacing: 2px;
        font-size: 46px;
        font-weight: bold;
    }
    .icon-phone {
        transform: rotate(300deg);
        /* margin-bottom: 5%; */
    }
    .responsive-nav-right li:nth-child(2) {
        padding-top: 5%;
    }
    .icon-arrow {
        color: white;
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        ハンバーガー
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */

    .menu {
        display: inline-block;
        width: 36px;
        width: 18px;
        height: 32px;
        height: 25px;
        cursor: pointer;
        position: relative;
    }
    .menu__line--top,
    .menu__line--middle,
    .menu__line--bottom {
        display: inline-block;
        width: 100%;
        height: 3px;
        /* height: 2px; */
        background-color: #000;
        background-color: white;
        position: absolute;
        transition: 0.5s;
        /* right: 10px; */
        /* ×を表示させる */
        z-index: 1;
    }
    .menu__line--top {
        top: 0;
        top: 7px;
        top: 9px;
    }
    .menu__line--middle {
        top: 15px;
        top: 16px;
    }
    .menu__line--bottom {
        bottom: 0;
        bottom: -1px;
    }
    .menu.open span:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
    }
    .menu.open span:nth-of-type(2) {
        opacity: 0;
    }
    .menu.open span:nth-of-type(3) {
        top: 14px;
        transform: rotate(-45deg);
    }
    .in {
        /* 左から右に移動させる */
        transform: translateX(100%);
    }
    .nav-hamburger {
        display: block;
        position: absolute;
        top: 0;
        height: 100vh;
        /* widthを設定して */
        width: 100%;
        /* その分左にずらして隠す */
        left: -100%;
        background-color: #ffffff;
        /* 0.7秒かけてnav-hamburgerがスライドする */
        transition: 0.7s;
        text-align: center;
    }
    .nav-hamburger ul {
        /* text-align: center; */
        padding-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .nav-hamburger li {
        margin-top: 50px;
    }
    .hamburger-item a {
        text-align: center;
        color: #0033cc;
        font-weight: normal;
        font-size: 18px;
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
        contact
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
    */
    .contact {
        width: 100%;
    }
    /* .contact .inner {
        padding: 0 10%;
    } */

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
        footer
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
    */
    .normal-footer,
    footer img {
        display: none;
    }
    .responsive-footer {
        display: block;
        width: 100%;

        margin-top: 200px;
    }
    .responsive-footer {
        flex-direction: column;
        padding: 0;
        border-left: none;
        line-height: 3;
        background-color: #66d2fe;
    }
    .responsive-footer li {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        border-bottom: 1px solid white;
        /* padding: 0 2.5%; */
        padding-left: 2.5%;
        padding-right: 1%;
        align-items: center;
    }
    .responsive-footer li img {
        /* width: auto; */
        /* width: 10px; */
        height: 35px;
        display: block;
    }
    .responsive-footer li:hover {
        background-color: #8ef9ff;
    }
    .responsive-footer p {
        background-color: #075c9e;
        display: block;
        color: white;
    }
    .responsive-footer small {
        font-weight: bold;
        font-size: 16px;
    }

    /*  */

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
        h
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ * * * * *
    */
}
