/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header {
    /* background-image: url("./pics/company/pc_teaser_02.jpg"); */
    background-image: url(/pics/company/pc_teaser_02.jpg);
}

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      代表ご挨拶
      greeting
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pic_of_ceo {
    width: 450px;
    height: 450px;
    object-fit: cover;
    /* padding-top: 90px; */
    position: absolute;
    top: 80px;
}
.greeting {
    background-image: url(/pics//company/p2_bg_01.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 900px;

    position: relative;
}

.greeting-text_box {
    /* background-color: yellow; */
    width: 450px;
    margin-top: 490px;
    margin-top: 290px;
    margin: 243px 0 30px auto;
    margin: 140px 0 0 auto;
}
.span-greeting {
    color: blue;
    font-size: 18px;
}
.greeting-text_box h3 {
    margin: 30px 0 20px 0;
}
.right {
    text-align: right;
}
.greeting p {
    margin: 10px 0;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      企業方針
      corporate policies
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.span-policy {
    color: red;
    font-size: 23px;
}

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      沿革 -社歴-
      company history
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.company_history {
    margin-top: 100px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      会社概要
      company info
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.table-company_info {
    display: flex;
    justify-content: space-between;
}
.table-company_info table {
    width: 49%;
    margin-right: calc(100% - (50% * 2));
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      google map
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.map {
    background-color: #5c6266;
    height: 450px;
    width: 100%;
}
.map-btn {
    border: 1px solid #0080c8;
    font-size: 12px;
    padding: 10px;
    margin: 30px 0;
}
.map-btn:hover {
    background-color: #0080c8;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      会社風景
      pics of us
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
/* .pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.trisection {
  width: 32%;
  display: block;
  margin-right: calc(100% - (33.3% * 3));
}
.trisection img {
  width: 100%;
  margin-bottom: 60px;
} */

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      組織図
      organization chart
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pic_org_chart {
    margin-bottom: 40px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      社員紹介
      members
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pic-members {
    margin-bottom: calc(100% - (33.3% * 3));
    /* margin-right: calc(100% - (33% * 3)); */
    margin-right: 30px;
}
.pic-members:nth-child(3n) {
    margin-right: 0;
}
.item {
    width: 30%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * レスポンシブ * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (max-width: 1024px) {
    header {
        background-image: none;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        代表ご挨拶
        greeting
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .greeting {
        background-image: none;
        height: auto;
        position: unset;
        padding-bottom: 20px;
    }
    .pic_of_ceo {
        width: 250px;
        height: 250px;
        position: unset;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }
    .greeting-text_box {
        margin-top: 0;
        width: 100%;
    }
    .greeting-text_box h3 {
        margin: 0;
    }
    .span-greeting {
        font-size: inherit;
    }
    .greeting p {
        margin: 0;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        沿革 -社歴-
        company history
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .company_history {
        margin-top: 10px;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        会社概要
        company info
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .table-company_info {
        display: block;
        display: table;
        width: 100%;
    }
    .table-company_info table {
        width: 100%;
    }
    .table-company_info table tr th,
    .table-company_info table tr td {
        font-size: 12px;
    }
    .table-company_info table tr td {
        padding-left: 15px;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        google map
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    /* コメントアウト部分、commonの.responsive-btnに指定済み。不要なら消す */
    .map-btn {
        border: 1px solid #0080c8;
        font-size: 12px;
        padding: 10px;
        margin: 10px 0 20px 0;

        /* width: 100%;
        background-color: #0080c8;
        border: none;
        color: white;
        text-decoration: underline;
        border-radius: 5px;
        font-weight: bold; */
    }
    .map-btn:hover {
        background-color: #0080c8;
    }
}
