/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header {
    background-image: url(/pics/contact/pc_teaser_06.jpg);
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    Application Form & inquiry
    応募フォーム・お問い合わせ
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.red {
    color: red;
}
.form-left {
    width: 66%;
}
.form-right {
    width: 31%;
    line-height: 2.5;
}

.middle {
    vertical-align: middle;
}
.form table {
    margin-bottom: 20px;
}
.btn-form {
    margin-bottom: 40px;
}
.form table th span {
    color: yellow;
    font-size: 10px;
}
.form .form-th {
    font-weight: bold;
}
.form .form-th,
.form table td {
    padding: 5px;
    vertical-align: middle;
}

.requirement p:last-child {
    margin-bottom: 30px;
}
.form-shorter input {
    width: 50px;
}

input[type="text"] {
    width: 300px;
}
input[type="select"] {
    border: 1px solid black;
}
.btn-side {
    justify-content: left;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      Privacy Policy
      プライバシーポリシー
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pp {
    font-size: 13px;
    margin-bottom: 50px;
}
.pp-subtitle {
    font-size: 17px;
}
.pp-list li {
    list-style: square;
    list-style-position: inside;
    padding-left: 10px;
}
