p {
    padding-bottom: 10px;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header {
    background-image: url(/pics/recruit/pc_teaser_05.jpg);
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    pride
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pride {
    background-image: url(/pics/recruit/p5_bg_01.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 750px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    padding-top: 60px;
}
.pride .side {
    padding: 50px 0;
}
.pride h1 {
    font-size: 30px;
}
.pride p {
    line-height: 2;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    features
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.features .entry-title {
    margin-bottom: 40px;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    Application Guidelines
    募集要項
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
table td p {
    line-height: 1.7;
}
.ag-table th {
    width: 15%;
}
.ag-table td {
    width: 85%;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      Qualifications
      電気工事士の各種資格！こんな資格が取得可能！
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.table-qualifications th {
    padding-bottom: 15px;
    font-weight: bold;
}
.table-qualifications td {
    padding-top: 15px;
    border-right: 1px solid black;
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      Frequently Asked Questions
      よくあるご質問
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.faq .side {
    width: 100%;
    margin: 30px 0;
}
.faq .frame_title {
    margin-bottom: 70px;
    margin-bottom: 250px;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
}
.ul-faq li {
    color: #0d79fc;
    padding: 5px 0;
    border-bottom: 1px dotted #0080c8;
}
.ul-faq li a:hover {
    color: #0d79fc;
    text-decoration: underline;
}
.btn-faq {
    background-color: #0080c8;
    color: white;
    border-radius: 5px;
    width: 120px;
    padding: 7px;
    margin: 15px 0 auto auto;
}
.btn-faq:hover {
    background-color: #072a56;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * レスポンシブ * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (max-width: 1024px) {
    .half {
        width: 100%;
    }
    .side:not(.banners) {
        display: flex;
        display: block;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .reverse img {
        margin-bottom: 10px;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        pride
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .padding .side {
        display: block;
        padding: 0;
        padding-top: 10px;
    }
    .pride {
        background-image: none;
        margin: 0;
        padding: 0 1%;
        padding-bottom: 0;
    }
    .pride h1 {
        font-size: 24px;
        background-image: url(/pics/responsive/headline_title_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        line-height: 3;
        color: #072a56;
    }
    .pride .pics {
        width: 81%;
        margin: 0 auto;
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        features
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .features .entry-title {
        margin-bottom: 0px;
    }
    .subtitle {
        margin: 10px 0;
    }

    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        events
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .events .frame_title {
        padding: 10px 0;
        font-weight: bold;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        faq
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
    .faq p {
        padding-bottom: 0;
    }
    .faq .side {
        /* padding: 0; */
        margin: 0;
    }
    .faq .frame_title {
        margin: 0;
    }
    .faq p {
        line-height: 2;
    }
    .faq-right {
        padding: 10px 0;
    }
    /*
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
        header
    ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    */
}
