/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header {
  background-image: url("./pics/result/pc_teaser_04.jpg");
}
/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
      施工実績
      Construction Results
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics {
  margin: 30px 0;
}
.frame_title {
  padding: 0%;
  margin-top: 40px;
}
.trisection img {
  width: 100%;
  margin-bottom: 10px;
}
.cr-btn {
  background-color: #0080c8;
  color: white;
  font-weight: bold;
  padding: 2px;
}
.cr-btn:hover {
  background-color: #072a56;
}
