* {
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: メイリオ, Meiryo, arial, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  line-height: 2;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
th,
td {
  font-size: 14px;
  line-height: 2;
}
.sec_title {
  font-size: 25px;
  line-height: 2.5;
}
li {
  list-style: none;
}
small {
  padding: 10px;
  font-size: 13px;
}
.padding {
  /* padding: 0 240px; */
  padding: 0 15.5%;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    header
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
header small {
  font-size: 10px;
  padding: 0 50px 0 0;
  display: flex;
  justify-content: right;
}
header small:hover {
  text-decoration: underline;
}
.header-normal {
  position: relative;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* padding: 60px 3.5% 0 3.5%; */
  padding: 20px 3.5% 0 3.5%;
  text-align: center;
  height: 50px;
  width: 100%;
  z-index: 2;

  /* background-image: url("./pics/pc_teaser_02.jpg");
  background-position: center;
  background-repeat: no-repeat; */
}
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #82cbeb;
  /* background-color: #86d8ff; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.9;
}
header ul {
  display: flex;
  justify-content: right;
}
header ul li {
  padding-left: 50px;
  padding-top: 30px;
}
.header-swiped {
  display: none;
}

/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    mainvisual
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.mainvisual {
  background-image: url("./pics/pc_teaser_02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 20px;
}
.logo {
  position: absolute;
  top: 0%;
  left: 3.5%;
  /* z-index: 7; */
}

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    greeting
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.greeting {
  height: 700px;
  padding-top: 6%;
  background-image: url("./pics/p2_bg_01.jpg");
  background-position: center;
}
.side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.pic_of_ceo {
  /* ※参考HPはベタベタのピクセル指定。レスポンシブは全く対応していない */
  /* position: absolute; */
  /* width: 31%; */
  /* top: 83px; */

  width: 31vw;
  height: 55vh;
  height: 450px;
  object-fit: cover;
}
.greeting-text_box {
  /* background-color: aqua; */
  width: 450px;
  margin: 20vh 0%;
  height: 50vh;
}
.span-greeting {
  color: blue;
  font-size: 18px;
}
.greeting-text_box h3 {
  margin: 50px 0 10px 0;
}
.right {
  text-align: right;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    corporate policy
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.sec-title {
  background-image: url("./pics/entry_title_bg.png");
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
/* .corporate_policy {
  background-image: url("./pics/entry_title_bg.png");
  background-repeat: no-repeat;
} */
.span-policy {
  color: red;
  font-size: 23px;
}
.subtitle {
  background-image: url("./pics/sub_entry_title_bg.jpg");
  background-repeat: no-repeat;
  padding-left: 20px;
  margin: 40px 0;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    company history
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
table {
  width: 100%;
  border: 1px solid black;
  margin: 40px 0 100px 0;
}
tr {
  border: 1px solid black;
  font-size: 14px;
}
th {
  border: 1px solid black;
  background-color: #66d2fe;
  font-weight: normal;
  text-align: left;
  padding: 10px 20px 0px 20px;
}
td {
  padding-left: 20px;
  padding: 0 0 20px 20px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    company info
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.table-company_info {
  display: flex;
}
.table-company_info table {
  width: 48%;
  margin-right: calc(100% - (49% * 2));
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    map
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.map {
  background-color: #5c6266;
  height: 450px;
  width: 100%;
}
.map-btn {
  margin: 30px 0;
  display: block;
  width: 100%;
  border: 1px solid #0080c8;
  padding: 10px;
  font-size: 12px;
}
.map-btn:hover {
  background-color: #0080c8;
  color: white;
  text-decoration: underline;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    pics of us
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pic_of_us {
  width: 31%;
  display: block;
  margin-right: calc(100% - (33% * 3));
}
.pic_of_us img {
  width: 100%;
  margin-bottom: 70px;
}
.whiter:hover {
  opacity: 0.8;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    organization chart
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pic_org_chart {
  margin-bottom: 40px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    members
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  width: 31%;
  display: block;
  /* margin-right: calc(100% - (33% * 3)); */
}
.title_members {
  border: 2px solid #0080c8;
  padding: 10px;
  font-weight: normal;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    contact
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.contact {
  background-color: #66d2fd;
  margin-top: 80px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    footer
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
footer {
  background-image: url("./pics/footer_bg.jpg");
  height: 300px;
  width: 100%;
}
footer img {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: left;
}
footer ul {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  justify-content: right;
}
footer a {
  padding-left: 10px;
  border-left: 1px solid black;
  margin-right: 10px;
  line-height: 25px;
}
footer a:hover {
  text-decoration: underline;
}
footer small {
  line-height: 40px;
}
