/*
　＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    mainvisual
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.mainvisual {
  background-image: url("./pics/pc_teaser_02.jpg");
}
/* .mainvisual {
  background-image: url("./pics/pc_teaser_02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: 20px;
  position: absolute;
  top: 0%;
}
.logo {
  position: absolute;
  top: 0%;
  left: 3.5%;
  z-index: 7;
} */

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    greeting
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pic_of_ceo {
  width: 450px;
  height: 450px;
  object-fit: cover;
  padding-top: 320px;
}
.greeting {
  background-image: url("./pics/p2_bg_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 1200px;
  margin-top: 250px;
  /* margin-top: 500px; */
  padding-top: 330px;
  padding-top: 1030px;
}

.greeting-text_box {
  width: 450px;
  margin-top: 490px;
  margin-bottom: 30px;
}
.span-greeting {
  color: blue;
  font-size: 18px;
}
.greeting-text_box h3 {
  margin: 30px 0 20px 0;
}
.right {
  text-align: right;
}
.greeting p {
  margin: 10px 0;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    corporate policy
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/

/* .corporate_policy {
  background-image: url("./pics/entry_title_bg.png");
  background-repeat: no-repeat;
} */
.span-policy {
  color: red;
  font-size: 23px;
}

/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    company history
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
table {
  width: 100%;
  border: 1px solid black;
  margin: 40px 0 100px 0;
}
tr {
  border: 1px solid black;
  font-size: 14px;
}
th {
  border: 1px solid black;
  background-color: #66d2fe;
  font-weight: normal;
  text-align: left;
  padding: 10px 20px 0px 20px;
}
td {
  padding-left: 20px;
  padding: 0 0 20px 20px;
}
.company_history {
  margin-top: 100px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    company info
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.table-company_info {
  display: flex;
}
.table-company_info table {
  width: 48%;
  margin-right: calc(100% - (49% * 2));
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    map
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.map {
  background-color: #5c6266;
  height: 450px;
  width: 100%;
}
.map-btn {
  margin: 30px 0;
  display: block;
  width: 100%;
  border: 1px solid #0080c8;
  padding: 10px;
  font-size: 12px;
}
.map-btn:hover {
  background-color: #0080c8;
  color: white;
  text-decoration: underline;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    pics of us
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pic_of_us {
  width: 31%;
  display: block;
  margin-right: calc(100% - (33% * 3));
}
.pic_of_us img {
  width: 100%;
  margin-bottom: 70px;
}
.whiter:hover {
  opacity: 0.8;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    organization chart
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pic_org_chart {
  margin-bottom: 40px;
}
/*
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
    members
  ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊ ＊
*/
.pics-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pic-members img {
  width: 100%;
  padding-bottom: 10px;
}
.item {
  width: 31%;
  /* display: block; */
  /* margin-right: calc(100% - (33% * 3)); */
}
.title_members {
  border: 2px solid #0080c8;
  padding: 5px;
  font-weight: normal;
}
